<div *ngIf="userSelectedValues.isCalculateButtonClicked" class="row m-1">
  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[1] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[1] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/1x.png"
      />
    </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[2] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[2] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/2x.png"
      />
    </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[3] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[3] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/3x.png"
      />
    </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[4] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[4] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/4x.png"
      />
    </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[5] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[5] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>

      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/5x.png"
      />
    </mat-card>
  </div>

  <div class="col-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title
          >{{ userCalculatedSpecialDateAgeArray[6] }}
          <small>yaşındasınız</small></mat-card-title
        >
        <mat-card-subtitle
          >{{ userXDayRemember[6] }} gün sonra</mat-card-subtitle
        >
      </mat-card-header>
      <img
        class="image-default-size"
        mat-card-image
        src="../../../assets/images/6x.png"
      />
    </mat-card>
  </div>
</div>
