<mat-toolbar color="primary">
  <span>Special Day Calculator</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <a href="https://blog.mustafaergec.com.tr/">
    <img
      style="height: 50px; width:50px"
      src="../../../assets/images/mustafaergeccomtrblog.png"
    />
  </a>
  <a href="https://github.com/biergec" class=" ml-1">
    <img
      style="height: 50px; width:50px"
      src="../../../assets/images/github.png"
    />
  </a>
</mat-toolbar>
